.img_panier{

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div_panier{
    width: 22vw;
}

.main_div_panier{
    display: flex;
    border: 3px solid;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 3%;
    box-shadow: 10px 5px 5px black;

   
}

.main_flex_panier{
    
    display: flex;
   

}

.total_panier{

    border: 3px solid;
    border-radius: 30px;
    height: 75vh;
    width: 45vw;
    margin-left: 2%;
    margin-top: 1%;
    box-shadow: 10px 5px 5px black;

}